<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rpy.qw.sys.mapper.LinkMapper">
  <resultMap id="BaseResultMap" type="com.rpy.qw.sys.domain.Link">
    <!--@mbg.generated-->
    <!--@Table sys_link-->
    <id column="link_id" jdbcType="INTEGER" property="linkId" />
    <result column="link_name" jdbcType="VARCHAR" property="linkName" />
    <result column="link_url" jdbcType="VARCHAR" property="linkUrl" />
    <result column="link_remark" jdbcType="VARCHAR" property="linkRemark" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="deleted" jdbcType="INTEGER" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    link_id, link_name, link_url, created_time, update_time, version, deleted,link_remark
  </sql>
</mapper>